{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block sidebar %}Index{% endblock %}

{% block content %}
	<div class="container-fluid">
        <div class="row">
          <div class="page-header">
            <h1>Welcome to Time Series Database System</h1>
          </div>

          <div class="caption">
            <h3>选择“直接查询”选项输入数据库和查询语句查询数据</h3>
            <h3>选择“文本上传”选项上传文件</h3>
            <h3>选择“逐步查询”选项按条件逐步查询数据</h3>
            <h3>选择“数据表删除”选项按条件删除数据</h3>
          </div>

        </div>
    </div>
{% endblock %}